# CSV 2 parquet

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('~/data/csv/19800101/csv.csv',
                 on_bad_lines='skip', encoding_errors='ignore',
                 names=['dt','cmd','cnt'])
df

           dt  cmd  cnt
0  1980-01-01  pwd    1
1  1980-01-01   ls   10
2  1980-01-01   ls   10
3  1980-01-01   ls   10
4  1980-01-01   ls   10

In [99]:
df['dt'] = df['dt'].str.replace('^','')
df['cmd'] = df['cmd'].str.replace('^','')
df['cnt'] = df['cnt'].str.replace('^','')

In [100]:
df['cnt'] = df['cnt'].astype(int)

In [13]:
df.to_parquet('~/tmp/partition_parquet',partition_cols=['dt'])

In [20]:
rdf = pd.read_parquet('~/tmp/partition_parquet/dt=1980-01-01/419ccabcd57e4fde807fb26a1542d6b3-0.parquet')
rdf

   cmd  cnt
0  pwd    1
1   ls   10
2   ls   10
3   ls   10
4   ls   10

In [17]:
rdf2 = pd.read_parquet('~/tmp/partition_parquet')
rdf2

   cmd  cnt          dt
0  pwd    1  1970-01-01
1   ls  xyz  1970-01-01
2  pwd    1  1980-01-01
3   ls   10  1980-01-01
4   ls   10  1980-01-01
5   ls   10  1980-01-01
6   ls   10  1980-01-01