In [1]:
import pandas as pd

In [11]:
df = pd.read_parquet('~/tmp/test_parquet')

In [12]:
df['multiMovieYn'] = df['multiMovieYn'].astype('object')
df['multiMovieYn'] = df['multiMovieYn'].fillna('unknown')
df['multiMovieYn'].value_counts()

multiMovieYn
unknown    140
N           70
Y           70
Name: count, dtype: int64

In [14]:
read_df = pd.read_parquet('~/tmp/test_parquet')
cols = [
        'movieCd', #영화의 대표코드를 출력합니다.
        'movieNm', #영화명(국문)을 출력합니다.
        'openDt', #영화의 개봉일을 출력합니다.
        'audiCnt', #해당일의 관객수를 출력합니다.
        'load_dt', # 입수일자
        'multiMovieYn', #다양성영화 유무
        'repNationCd', #한국외국영화 유무
    ]
df = read_df[cols]

In [18]:
df.tail(5)

,movieCd,movieNm,openDt,audiCnt,load_dt,multiMovieYn,repNationCd
275,20242349,이준호 콘서트 : 다시 만나는 날,2024-07-24,487,20240730,NaN,K
276,20224666,파일럿,2024-07-31,320,20240730,NaN,K
277,20236400,조선인 여공의 노래,2024-08-07,298,20240730,NaN,K
278,20231042,빅토리,2024-08-14,247,20240730,NaN,K
279,20225866,진주의 진주,2024-07-24,180,20240730,NaN,K

In [ ]:
# multiMovieYn이 null이 아닌 데이터와 repNationCd가 null이 아닌 데이터를 구분
    df_multiMovieYn_notnull = df_where[df_where['multiMovieYn'].notnull()].drop(columns='repNationCd').reset_index(drop=True)
    df_repNationCd_notnull = df_where[df_where['repNationCd'].notnull()].drop(columns='multiMovieYn').reset_index(drop=True)

    # 필요한 열만 유지하면서 병합
    merged_df = pd.merge(df_multiMovieYn_notnull, df_repNationCd_notnull[['movieCd', 'repNationCd']], on=['movieCd'], how='left')

    return merged_df